body {
    background-color: #FFF7F5; 
    color: #5C85FE;
}

@font-face {
    font-family: NeueBit;
    src: url(PPNeueBit-Bold.otf);
}

@font-face {
    font-family: ABC-Social;
    src: url(ABCSocial-Thin-Trial.woff);
}


div {
    font-family: ABC-Social;
}

a:link, a:visited {
    text-decoration: none;
    color:#5C85FE
}
  
a.hover, a.active {
    color:#5C85FE
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
    overflow: hidden;
}

.horizontal-divider {
    border: .5px solid #5C85FE; 
    border-radius: 5%;
    position: relative;
}

#vertical-divider {
    border-left: 1px solid #5C85FE;
    height: 100%;
    position: absolute;
    left: 50%;
}

#homeButton{
    position: absolute;
    top: 88%;
    left: 88%;
    width: 9%;
}

.section {
    position: relative;
    z-index: 200;
    font-size: 4vw;
    line-height: 1em;
    margin: 10px 5px 10px 15px;
}

.section-header {
    position: relative;
    font-size: 3vw;
    line-height: 1em;
    margin: 10px 5px 10px 15px;
}

.title {
    font-family: NeueBit;
    text-align: center;
    font-size: 9vw;
    line-height: .7em;
    align-self: center;
    margin-top: 30%;
}

.body-text {
    font-family: NeueBit;
    font-size: 2.7vw;
    color: #5C85FE; 
    letter-spacing: .001em;
    margin-left: 4%;
    margin-right: 10%;
}

.star {
    font-family: Arial;
    position: absolute;
    float: right;
    right: 40px;
    font-size: 3.5vw;
    margin-top: 6px;
    margin-right: -8px;
}

.about-col {
    flex: 33.33%;
    padding: 15px;
}
  

.about-row {
    display: flex;
}

#profilePic {
    max-height: 170px;
    height: auto;
    margin-left: 10%;
}

#miniQuilt {
    width: 100%;
    max-width: 170px;
    height: auto;
    margin-right: 30%
    
}

#highlight {
    color: #E185AF;
    text-decoration: underline;
}

#contact-highlight {
    color: #8FAAFB;
}